.main-header {
  height: 5vh;
  position: fixed;
  top: 0%;
  width: 100%;
}
#nav-logo img{
  height: 4vh;
  width: auto;
}
#nav-bar{
  background-color: black;
  display: flex;
  justify-content: space-around;
}
ul li{
  display: inline;
  color: white;
}
.nav-right ul li a{
  text-decoration: none;
  color: white;
  margin: 0 0 3px 0;

}
body{
  font-family: sans-serif;
}

.nav-right ul a:hover{
  text-decoration: underline;
  font-size: 30px;
}
.hero {
  display: flex;
  height: 40vh;
  max-width: 100%;
  justify-content: center;
  background-image: url("../img/prod11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .hero hero-header {
  display: flex;
  justify-content: flex-start;
  align-items: left;
} */
.hero header{
  font-family: 'Galada', cursive;
  color: white;
  align-self: auto;
}
.three-column-section{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 100%;
  background-color: lightgreen;
}
.three-column-section img{
  height: 20vh;
  width: 15vw;
}
h2 {
  font-weight: bold;
}
#all-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-between;
  background-color: pink;
}
.products{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#all-products .products img{
  width:350px;
  height:350px;
}

#product-name, .products p {
  font-weight: bold;
}
footer {
  display: flex;
  flex-direction: row;
  height: 5vh;
  background-color: black;
  justify-content: center;
  align-items: center;
}
footer span a{
  color: white;
  width: auto;
  height: auto;
  padding-right: 10px;
}
/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    #nav-bar .nav-right ul{
    flex-direction: column;
    display: inline-flex;
  }
    .three-column-section{
      flex-direction: column;
      align-items: center;
    }
    #all-products{
      flex-direction: column;
    }
}

/* On screens that are 320px wide or less, make the nav bar menu links as a list and hide the search bar */
@media screen and (max-width: 320px) {
    #nav-bar {
    flex-direction: column;
    display: inline-flex;
    height: auto;
    }
    #nav-bar .nav-mid{
    display: none;
    }
    .three-column-section{
      flex-direction: column;
    }
    #all-products{
      flex-direction: column;
    }
}
