#main-header {
  height: 10vh;
  font-size: 60px;
  font-family: 'Galada', cursive;
  color: blue;
  background-color: #99DDC8;
}
body{
  font-family: sans-serif;

}
top {
  height: 5vh;
}
li{
  display: inline-block;
  padding-right: 10px;
  margin: 0;
}
ul a{
  text-decoration: none;
}

ul a:hover{
  text-decoration: underline;
  font-size: 20px;
}
.hero {
  display: flex;
  height: 50vh;
  width: 50vh;
  justify-content: center;
  background-image: url("../img/product6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.hero header{
  font-family: 'Galada', cursive;
  color: blue;
}
.three-column-section{
  display: flex;
  justify-content: space-around;

  }
.three-column-section first-column{
  height: 30vh;
  width: 30%;

}
.three-column-section second-column{
  height: 30vh;
  width: 40%;
}
.three-column-section third-column{
  height: 30vh;
  width: 30%;
}

footer {
  display: flex;
  height: 5vh;
  background-color: black;
  align-items: center;
  justify-content: center;
}
footer i{
  
  color: white;
  align-items: center;
}
